In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [4]:
df=pd.read_csv("C:\\Users\\Dileep chandu\\Downloads\\titanic\\train.csv")
test=pd.read_csv("C:\\Users\\Dileep chandu\\Downloads\\titanic\\test.csv")
test_ids=test["PassengerId"]
def clean(df):
    df=df.drop(["Ticket","Cabin","Name","PassengerId"], axis=1)
    cols=["SibSp","Parch","Fare","Age"]
    for cols in cols:
        df[cols].fillna(df[cols].median(),inplace=True)
    df.Embarked.fillna("U",inplace=True)
    return df
df=clean(df)
test=clean(test)

In [5]:

df.head(5)

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0         0       3    male  22.0      1      0   7.2500        S
1         1       1  female  38.0      1      0  71.2833        C
2         1       3  female  26.0      0      0   7.9250        S
3         1       1  female  35.0      1      0  53.1000        S
4         0       3    male  35.0      0      0   8.0500        S

In [6]:
print(df.shape)

(891, 8)

In [23]:
from sklearn import preprocessing
le= preprocessing.LabelEncoder()

In [24]:

cols=["Sex","Embarked"]
for cols in cols:
    df[cols]=le.fit_transform(df[cols])
    test[cols]=le.transform(test[cols])
    print(le.classes_)
    
df.head(5)

['female' 'male']
['C' 'Q' 'S' 'U']

   Survived  Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0         0       3    1  22.0      1      0   7.2500         2
1         1       1    0  38.0      1      0  71.2833         0
2         1       3    0  26.0      0      0   7.9250         2
3         1       1    0  35.0      1      0  53.1000         2
4         0       3    1  35.0      0      0   8.0500         2

In [25]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

y=df["Survived"]
x=df.drop("Survived" ,axis=1)

x_train,x_val,y_train,y_val= train_test_split(x,y,test_size=0.2,random_state=13)

In [26]:
from sklearn.linear_model import LogisticRegression
base_model=LogisticRegression()
base_model.fit(x_train,y_train)
y_pred=base_model.predict(x_val)
from sklearn.metrics import accuracy_score
accuracy_score(y_val,y_pred)

C:\Users\Dileep chandu\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

0.8324022346368715

In [18]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
x=sc.fit_transform(x)

In [9]:
from sklearn.decomposition import PCA
pca_model=PCA(n_components=0.95)
x_train_pca=pca_model.fit_transform(x_train)
x_test_pca=pca_model.transform(x_val)

In [10]:
x_train_pca.shape

(712, 2)

In [38]:
pca_model.explained_variance_ratio_

array([0.93953437, 0.05940794])

In [39]:
classifier=LogisticRegression()
classifier.fit(x_train_pca,y_train)
y_pred=classifier.predict(x_test_pca)
from sklearn.metrics import accuracy_score
accuracy_score(y_val,y_pred)

0.6703910614525139

In [40]:
from sklearn.metrics import accuracy_score
accuracy_score(y_val,y_pred)

0.6703910614525139

In [13]:
submission_preds=clf.predict(test)

NameError: name 'clf' is not defined

In [ ]:
df=pd.DataFrame({"PassengerId":test_ids.values,
                "Survived":submission_preds,
                })

In [ ]:
df.to_csv("submission.csv",index=False)